<%- include('layout/header') %>

<h1> Home Page Content </h1>

<!-- Home -->
<ul type = "none">
  <li><a href="/">HOME</a></li>
</ul>

<!-- User -->
<ul type = "disc">
  <li><a href="/addUser">Add User</a></li>
  <li><a href="/UserList">Edit User</a></li>
  <li><a href="/UserList">Delete User</a></li>
</ul>

<!-- Product -->
<ul type = "square">
  <li><a href="/addProduct">Add Product</a></li>
  <li><a href="/ProductList">Edit Product</a></li>
  <li><a href="/ProductList">Delete Product</a></li>
</ul>

<!-- Category -->
<ul type = "circle">
  <li><a href="/addCategory">Add Category</a></li>
  <li><a href="/CategoryList">Edit Category</a></li>
  <li><a href="/CategoryList">Delete Category</a></li>
</ul>

<%- include('layout/footer') %>